body {
 margin: 0;
  padding: 16px;
  background-color: #80ff80;

}

.Raya{
  margin: 40px auto;
  padding: 16px;
  max-width: 400px;
  background-color: #008000;
  text-align: center;
  box-shadow: 0 24px 40px -8px #311B92;


}
.Raya img {
  width: 100%
}

.source-link {
  text-align: center;
  color: #311B92;
  text-decoration: underline;
}

.source-link a {
  color: #311B92;
  text-decoration: none;
}
.Raya2 {
  float:right;
  border: 1px solid black;
  width: 450px;
  height: auto;
}
