body {
  background: #FFFCF8;
}

.Birthday {
  margin: 40px auto;
  padding: 16px;
  max-width: 400px;
  background-color: white;
  text-align: center;
  box-shadow: 0 24px 40px -8px #311B92;
    background-image: url(painting.jpg);


}
.Birthday img {
  width: 100%;
}

.source-link {
  text-align: center;
  color: #311B92;
  text-decoration: underline;
}

.source-link a {
  color: #311B92;
  text-decoration: none;
}

.Birthday2 {
  float:right;
  border: 1px solid black;
  width: 450px;
  height: auto;
}
