*{
  padding: 0;
  margin: 0;
}

#Logo{
  background: #CEE9F1;
  padding: 1.4em;
}

#Logo a{
  text-decoration: none;
  display: block;
  color: #1C3B64;
  font-family: monospace;

}

#navigation {
  background-color: ;
  /* display: flex; */
  display: inline-block;
  list-style: none;
  margin-top: 3em;
  padding-right: 1em;
  background: #CEE9F1;
  /* flex-flow: row wrap;
  justify-content: flex-end; */
}

#navigation a{
  text-decoration: none;
  display: block;
  color: #39464A;
  padding: 2em;
  font-weight: bold;
}

#navigation a:hover{
  color:#0A6F74 ;
}
